name: eBPF builder image release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'image version'
        required: true
        type: string
      go_version:
        description: 'Go version'
        required: false
        type: string
        default: '1.25.5'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/ebpf-builder
          flavor: |
            latest=false
          tags: |
            type=semver,pattern={{version}},value=${{ inputs.version }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          provenance: false  # avoid push manifest-list
          file: ebpf.Dockerfile
          build-args: |
            GO_VERSION=${{ inputs.go_version }}
